.transition-all {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.inline-block-top {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
.inline-block-middle {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zoom: 1;
}
.opacity {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
@font-face {
  font-family: 'robotobold_condensed';
  src: url('../fonts/roboto-condBold/Roboto-BoldCondensed-webfont.eot');
  src: url('../fonts/roboto-condBold/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-condBold/Roboto-BoldCondensed-webfont.woff2') format('woff2'), url('../fonts/roboto-condBold/Roboto-BoldCondensed-webfont.woff') format('woff'), url('../fonts/roboto-condBold/Roboto-BoldCondensed-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_light';
  src: url('../fonts/roboto-light/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/roboto-cond/Roboto-Condensed-webfont.eot');
  src: url('../fonts/roboto-cond/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/Roboto-Condensed-webfont.woff2') format('woff2'), url('../fonts/roboto-cond/Roboto-Condensed-webfont.woff') format('woff'), url('../fonts/roboto-cond/Roboto-Condensed-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium/roboto-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 47%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 43%;
  }
}
h1 {
  font: 5rem 'robotocondensed', sans-serif;
  letter-spacing: .5rem;
}
#delCookie {
  background: #000000;
  color: #ffffff;
  position: fixed;
  z-index: 99999;
  top: 20px;
  left: 20px;
}
body,
html {
  height: 100%;
}
body {
  min-width: 320px;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: none;
}
.b-page_main {
  padding-right: 65px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.b-page_main .row {
  height: 100%;
}
@media (max-width: 992px) {
  .b-page_main {
    overflow: auto;
  }
}
.b-page {
  z-index: 10;
}
@media (max-width: 992px) {
  .b-page {
    padding-top: 50px;
    padding-right: 15px;
  }
}
.welcome-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}
.welcome-popup__block {
  width: 100%;
  height: 90%!important;
  display: table;
  background: #F9F9F9;
  position: relative;
}
.welcome-popup__block:before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../img/wave2.png) 50% 100% no-repeat;
}
.welcome-cell {
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.welcome-cell__img {
  display: block;
  margin: 5% auto;
}
.fixed-panel {
  background: #000000;
  width: 50px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 15;
  text-align: center;
  border: 1px solid #424146;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.fixed-panel.fixed-panel_opened {
  right: 250px;
}
.fixed-panel__bars {
  border-bottom: 1px solid #424146;
  cursor: pointer;
  color: #ffffff;
  font-size: 28px;
  line-height: 49px;
}
.fixed-panel__logo {
  display: block;
  background: url(../img/logo-small.png) 50% 45% no-repeat;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.fixed-panel__links {
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 100%;
}
@media (max-width: 992px) {
  .fixed-panel {
    width: 100%;
    height: 50px;
    right: 0!important;
  }
  .fixed-panel__bars {
    border: none;
    width: 50px;
    border-right: 1px solid #424146;
    float: left;
    margin: 0;
  }
  .fixed-panel__links {
    bottom: 0;
    right: 25px;
    width: auto;
  }
}
@media (max-width: 480px) {
  .fixed-panel__logo {
    float: left;
  }
}
.panel-item {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  height: 50px;
  width: 50px;
  line-height: 53px;
  color: #ffffff !important;
  font-size: 2.2rem;
}
.panel-item__lang {
  font: 1.8rem/53px 'robotoregular', sans-serif;
}
.main-panel {
  position: fixed;
  width: 250px;
  right: -200px;
  top: 0;
  height: 100%;
  background: #ffffff;
  z-index: 14;
  padding: 3rem 0;
  text-align: center;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.main-panel__logo {
  width: 15rem;
}
.main-panel__menu {
  margin: 5rem 0;
  border-top: 1px solid #e6e6e6;
  padding: 0;
}
.main-panel__lang {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10rem;
  background: #ffffff;
  z-index: 25;
}
.main-panel.main-panel_visible {
  right: 0;
}
@media (max-width: 992px) {
  .main-panel {
    right: -1000px;
    width: 100%;
    padding-top: 10rem;
  }
  .main-panel.main-panel_visible {
    right: 0;
  }
}
@media (max-width: 480px) {
  .main-panel__menu {
    margin: 3rem 0;
  }
}
@media (max-height: 600px) {
  .main-panel {
    overflow: auto;
  }
  .main-panel__lang {
    position: static;
    margin: 5rem 0 0;
  }
}
.menu-item {
  border-bottom: 1px solid #e6e6e6;
  display: block;
}
.menu-item__link {
  font: 1.4rem/5rem 'robotobold_condensed', sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.lang-item {
  border-top: 1px solid #e6e6e6;
}
.lang-item__link {
  font: 1.2rem/5rem 'robotobold_condensed', sans-serif;
  text-transform: uppercase;
  color: #424146;
}
.b-page__item {
  height: 100%;
  position: relative;
  padding-bottom: 20rem;
}
.b-page__item_creative {
  background: url(../img/fon1.jpg) no-repeat;
  background-size: cover;
}
.b-page__item_critical {
  background: #f9e208;
}
.b-page__item_professional {
  background: url(../img/fon2.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .b-page__item {
    height: auto;
    overflow: hidden;
  }
}
.b-main-slider {
  padding: 5rem 3rem 0;
}
.b-main-slider__dotes {
  margin: 0 0 30px;
}
.b-main-slider__h2 {
  font: 3.1rem/3.8rem 'robotocondensed', sans-serif;
  margin: 0 0 3rem;
  position: relative;
  padding: 0 0 3rem;
}
.b-main-slider__h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000000;
  width: 11.5rem;
  height: .6rem;
}
.b-main-slider__txt {
  font: 1.6rem/3rem 'roboto_light', sans-serif;
}
.b-bot-dotes {
  background: url(../img/dotes_bot_1.png) repeat-x;
  height: 88px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.b-bot-dotes_dashed {
  background-image: url(../img/dotes_bot_2.png);
  height: 91px;
}
.b-info {
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  padding: 1rem 5rem 5rem;
  display: none;
}
.b-info:before {
  background: url(../img/wave.png) 50% 0 no-repeat;
  content: '';
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
}
.b-info.b-info_open {
  height: 93%!important;
}
.b-info.b-info_open .b-info__content {
  height: 96%;
  overflow: auto;
}
.b-info__title {
  color: #43d6b9;
  font: 1.5rem 'robotocondensed', sans-serif;
  padding: 2rem 0 1rem;
  text-transform: uppercase;
}
.b-info__link {
  margin: 0 0 1.5rem;
}
.b-info__link a {
  color: #000000;
  font: 18px 'roboto_light', sans-serif;
}
.b-info__more {
  background: rgba(77, 77, 77, 0.7);
  color: #ffffff;
  height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 40px;
}
.b-info__more:hover {
  background: #424146;
}
@media (max-width: 992px) {
  .b-info {
    display: none!important;
    top: 99999%!important;
  }
}
header {
  position: relative;
  z-index: 5;
}
.b-page_courses:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 276px;
  top: 0;
  left: 0;
  content: '';
  background: url(../img/bkg_dark.jpg) 50% 100% no-repeat;
  background-size: cover;
}
.b-page_courses .page-header {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 3rem;
}
.breadcrumb {
  padding: 3.5rem 0 2rem;
  background: none;
  margin: 0;
  text-transform: lowercase;
}
.breadcrumb a,
.breadcrumb .active {
  font: 1.3rem 'robotomedium';
  color: #000000;
}
.breadcrumb > li + li:before {
  content: "|";
  color: #000000;
  padding: 0 .8rem;
}
.page-header {
  border: none;
  padding: 0;
}
.page-header.page-title_uppercalse {
  text-transform: uppercase;
}
.filter-courses {
  margin: 0 0 5rem;
}
.filter-courses .jq-selectbox-wrapper {
  border: 2px solid #000000;
  width: 100%;
  background: #ffffff;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox {
  width: 100%!important;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox.opened .jq-selectbox__trigger {
  background-position: 0 100%;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__select {
  color: #000000;
  font: 16px/50px 'roboto_light', sans-serif;
  padding: 0 6.5rem 0 2.5rem ;
  width: 100%!important;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__trigger {
  background: url(../img/pointer.png) no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 16px;
  top: 12px;
  cursor: pointer;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__dropdown {
  z-index: 20;
  width: 100%;
  text-align: left;
  background: #ffffff;
  z-index: 50;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__dropdown ul {
  padding: 0;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__dropdown li {
  border-bottom: 1px solid #000000;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.filter-courses .jq-selectbox-wrapper .jq-selectbox__dropdown li:hover {
  background: #e6e6e6;
}
.b-page-inner {
  height: 100%;
  min-height: 100%;
  height: auto!important;
  margin: 0 0 -60px;
}
.content-page {
  padding: 0 0 60px;
}
.b-footer {
  font: 1.4rem/24px 'robotoregular', sans-serif;
  color: #424146;
  height: 60px;
  text-align: center;
  margin: -60px 0 0;
  border-top: 1px solid #e6e6e6;
  padding: 2rem 0;
}
.b-footer a {
  color: #424146;
}
.b-footer__phone {
  font-size: 1.8rem;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
@media (max-width: 992px) {
  .b-footer__phone {
    border: none;
  }
}
.b-footer__address {
  background: url(../img/marker.png) 0 0 no-repeat;
  padding: 0 0 0 15px;
  height: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
.b-footer__mailto {
  background: url(../img/pencil.png) no-repeat;
  padding: 0 0 0 25px;
  height: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
.soc-app * {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.items-list {
  border: 2px solid #000000;
  position: relative;
  margin: 0 0 25px;
  padding: 0 0 12rem;
}
.items-list__calendar {
  background: url(../img/calendar.png) 0 0 no-repeat;
  position: absolute;
  padding: 10px 0 0;
  top: -2px;
  left: 20px;
  z-index: 5;
  width: 89px;
  height: 98px;
  text-align: center;
  font: 40px/40px 'robotocondensed', sans-serif;
}
.items-list__photo {
  width: 100%;
}
.items-list__data {
  background: #ffffff;
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  padding: 0 25px 25px;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.items-list__data:before {
  content: '';
  height: 15px;
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  background: url(../img/wave-list.png) repeat-x;
}
.items-list__data:hover {
  top: 40%;
  height: 60%;
}
.calendar-month {
  font: 13px 'robotocondensed', sans-serif;
  color: #000000 !important;
}
.content-section {
  position: relative;
  z-index: 3;
}
.items-list_green {
  border-color: #4cd6bb;
}
.items-list_green .items-list__data {
  background: #4cd6bb;
}
.items-list_green .items-list__calendar {
  background-position: 0 -294px;
  color: #4cd6bb;
}
.items-list_yellow {
  border-color: #f9e208;
}
.items-list_yellow .items-list__data {
  background: #f9e208;
}
.items-list_yellow .items-list__calendar {
  background-position: 0 -98px;
  color: #f9e208;
}
.items-list_pink {
  border-color: #f80082;
}
.items-list_pink .items-list__data {
  background: #f80082;
}
.items-list_pink .items-list__calendar {
  background-position: 0 -196px;
  color: #f80082;
}
